html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana;
  font-size: 62.5%;
  color: #666666;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
em {
  font-weight: bold;
  font-style: normal;
}
#page {
  font-size: 1.5em;
}
#header {
  background-color: #486d8a;
  height: 60px;
  line-height: 60px;
  color: #FFF;
  border-bottom: 1px solid #cccccc;
  padding: 0 20px;
  font-size: 1.3em;
}
#header .username {
  font-size: 1.2em;
}
#header .button {
  margin-left: 10px;
}
#change-set.summary {
  display: inline-block;
  padding-left: 20px;
}
#change-set.summary h3 {
  font-weight: normal;
  font-size: 1em;
}
#change-set.summary .changes {
  font-weight: bold;
}
.button {
  display: inline-block;
  padding: 5px 15px;
  color: #FFF;
  line-height: normal;
  cursor: pointer;
}
.button:hover {
  text-decoration: none;
}
.button.button-gray {
  background-color: #999999;
  padding: 5px 40px;
}
.button.button-gray:hover {
  background-color: #a1a1a1;
}
.button.button-green {
  background-color: #5fa504;
  padding: 5px 40px;
}
.button.button-green:hover {
  background-color: #68b404;
}
.button.button-lightblue {
  background-color: #7da1c1;
  padding: 5px 40px;
}
.button.button-lightblue:hover {
  background-color: #87a8c6;
}
.float-box.float-box-right {
  float: right;
}
.float-box.checkbox-right {
  float: right;
}
#translatetable
{
    position:absolute;
    width: 100%;
}
#sets
{ 
    width: 30%;
    display: block;
    float: left;
}
#languageoptions
{
    border-bottom: 1px solid #cccccc;
}
#languageoptions p
{
    font-size: 12px;
    padding: 5px 5px 5px 10px;
    display: inline-block;
    margin: 5px;
}
.dropdown
{
    display: inline-block;
    margin: 5px;
}
#table {
    padding-left: 0px;
    margin: 0pt;
    display: block;
    float: left;
    width: 70%;
    border-right: 1px solid #cccccc;    
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#tableadmin {
    padding-left: 0px;
    margin: 0pt;
}
#selectall {
    padding: 20px;
    padding-right:5px;
    border-bottom: 1px solid #cccccc;
}
#adminsubmit {
    padding: 10px;
}
#filters {
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}
#filters .stats {
    padding-left:0px;
}
#filters .stats li {
  display: inline-block;
  margin-right: 10px;
}
#filters .stats li + li {
  margin-right: 0px;
  margin-left: -4px;
}
#filters .stats a,
#filters .stats .label {
  display: block;
}
#filters .stats a {
  min-width: 90px;
  line-height: 40px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #cccccc;
}
#filters .stats .label {
  font-size: 13px;
  text-align: center;
}
#filters .stats .needs-review a {
  background-color: #7DA1C1;
  color: #FFF;
}
#filters .stats .reviewed a {
  background-color: #5FA504;
  color: #FFF;
}
#filters .stats .all a {
  background-color: #486D8A;
  color: #FFF;
}
#filters .stats .selected {
    opacity: 1;
}
#filters .stats .notselected {
    opacity: 0.6;
}
.translations {
  width: 100%;
  color: #333;
  font-size: 12px;
  list-style: none;
}
.translations .translation-root {
  border-bottom: 1px dotted #CCC;
  padding: 5px;
  padding-left: 10px;
}
.translations .translation-root > div {
  display: inline-block;
  vertical-align: middle;
}
.translations .term,
.translations .translation {
  width: 40%;
}
.translations .translation .edit {
  padding: 5px 7px;
  display: block;
  margin: 0pt;
}
.translations .translation .values {
  padding: 5px 7px;
  display: block;
  margin: 0pt;
}
.translations .translation .field {
  padding: 4px 5px 3px;
  margin: 0pt;
  height: auto;
  border-radius: 3px;
  border: 1px solid #A0A6B3;
  color: #717B80;
  background-color: #FFF;
}
.translations .translation textarea {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-family: arial;
}
.translations .translation .edit:hover {
  background-color: #FFFFDD;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 4px 6px;
}
.translations .spacer {
  width: 24px;
}
.translations .actions a {
  display: none;
  background-image: url('images/edit_actions.png');
  text-indent: -4000px;
}
.translations .actions .unapprove {
  width: 16px;
  height: 16px;
  background-position: -27px -27px;
  display: inline-block;
}
.translations .actions .approve {
  width: 16px;
  height: 16px;
  background-position: 0px -27px;
}
.translations .actions .delete {
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  display: inline-block;
}
.translations > :hover .view-actions a {
  display: inline-block;
}
.translations .actions,
.translations .actions .delete:hover {
  background-position: -27px 0px;
}
.translations .userinfo {
  width: 150px;
  margin: 0pt;
  padding: 5px;
}
.translations .translatorname {
  margin: 0px;
}
.translations .adminCheckbox {    
    width: calc(20%+194px);
    padding: 5px;
}
.translations .adminApproval {
   float: right;
}
.translations .spacer span {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background-image: url('images/arrows.png');
}
.translations .spacer span.vote-count {
  background-image: none;
  background-color: #004400;
  color: #FFF;
  float: left;
  display: block;
  font-size: 8px;
  margin-top: 10px;
  margin-left: -5px;
  padding: 0 3px;
  width: auto;
  height: auto;
}
.translations .spacer.reviewed span {
  background-position: -27px 0px;
}
.translations ins {
  background-color: #AAFFAA;
  text-decoration: none;
}
.translations del {
  background-color: #FFAAAA;
  color: #AA6666;
  text-decoration: line-through;
}
.login-screen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #EAEAEA;
  color: #919191;
}
.login-screen .logo {
  background-image: url('/Content/images/vlaggen.png');
  background-size: 384px 216px;
  background-repeat: no-repeat;
  background-position: 30px 40px;
  width: 385px;
  height: 385px;
  background-color: #FFF;
  border-radius: 50%;
  text-align: center;
  margin-left: 95px;
  margin-bottom: 20px;
}
.login-screen .logo span {
  display: inline-block;
  margin-top: 250px;
  font-size: 1.4em;
}
.login-screen .logo span + span {
  display: block;
  margin-top: 5px;
  font-size: 1.8em;
}
.login-screen input[type=email],
.login-screen input[type=password] {
  font-size: 1.2em;
  border: 1px solid #CCC;
  background-color: #DDDDDD;
  color: #666;
  padding: 5px;
  margin-top: 5px;
  display: block;
  width: 270px;
}
.login-screen input[type=submit] {
  background-color: transparent;
  border-style: none;
  width: 39px;
  height: 40px;
  background-image: url('/Content/images/pijltje.png');
  text-indent: -1000px;
  position: absolute;
  right: -40px;
  top: 20px;
  padding: 0;
}
.login-screen .form-wrapper {
  position: relative;
  width: 600px;
  height: 700px;
  top: 50%;
  margin: 0 auto;
  margin-top: -300px;
}
.login-screen .form-wrapper .wrapper {
  float: left;
  width: 50%;
  height: 150px;
  position: relative;
}
.pagination 
{
    width: 70%;
    display: block;
}
.pagination .page {
  display: inline-block;
  padding: 5px;
  min-width: 1em;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
}
.pagination .page.page {
  margin-left: 5px;
}
.pagination .selected {
  font-weight: bold;
  background-color: #666;
  color: #FFF;
}
/*# sourceMappingURL=Site.css.map */