@model ZiberTranslate.Web.ViewModels.TranslateSetsViewModel

@{
    ViewBag.Title = "Engels";
}
@section Scripts {
   
}
<h2>Engelse vertalingen</h2>

@Html.ActionLink("Login", "Login", new { controller = "Security", returnUrl = this.Context.Request.Url.PathAndQuery })
|
@Html.ActionLink("Logout", "Logout", "Security")
<br />
<br />

<h3>
    <a href="/">Home</a>
</h3>

<ul id="translate-sets">
    @foreach (var set in Model.Sets)
    {
        <li><a href="@Url.RouteUrl("Translations", new { setId = set.Id, language = "en" })">@set.Name (EN)</a></li>
    }
</ul>