@model ZiberTranslate.Web.ViewModels.TranslateSetsViewModel

@{
    ViewBag.Title = "GermanTranslate";
}

<h2>Duitse vertalingen</h2>

@Html.ActionLink("Login", "Login", "Security")
|
@Html.ActionLink("Logout", "Logout", "Security")
<br />
<br />

<h3>
    <a href="/">Home</a>
</h3>


<ul id="translate-sets">
    @foreach (var set in Model.Sets)
    {
        <li><a href="@Url.RouteUrl("Translations", new { setId = set.Id, language = "de" })">@set.Name (DE)</a></li>
    }
</ul>