@model ZiberTranslate.Web.ViewModels.TranslateSetsViewModel

@{
    ViewBag.Title = "Index";
}
<h3>Naar welke taal wilt u vertalen?</h3>

<ul>
    <li>@Html.ActionLink("English", "Index", new { controller = "TranslateSet", language = "en" })</li>
    <li>@Html.ActionLink("German", "Index", new { controller = "TranslateSet", language = "de" })</li>
</ul>

