@model ZiberTranslate.Web.ViewModels.TranslateSetsViewModel

@{
    ViewBag.Title = "Index";
}
<h3>Naar welke taal wilt u vertalen?</h3>

<ul>
    <li>@Html.ActionLink("English", "English", "TranslateSet")</li>
    <li>@Html.ActionLink("German", "German", "TranslateSet")</li>
</ul>

