<section class="login-screen">
    <div class="form-wrapper">
        <div class="logo">
            <span>The world is not enough</span>
            <span>Ziber Translate</span>
        </div>
        <form name="loginForm" action="@Url.Action("Login", "Security")" method="post">
            <input type="hidden" name="redirectUrl" value="@ViewBag.RedirectUrl"/>
            <div class="wrapper">
                <label>Gebruikersnaam</label>
                <input type="email" name="emailAddress" required="true" />
            </div>
            <div class="wrapper">
                <label>Wachtwoord</label>
                <input type="password" name="password" required="true" />
                <input type="submit" />
            </div>
        </form>
    </div>
</section>