<form name="adminForm" method="post" ng-controller ="AdminTranslationCtrl">
    <section id="selectall">
        <div class="float-box checkbox-right">
            <span class="label">Selecteer alles</span>
            <input type="checkbox" value="Selecteer Alle" ng-click="selectAll()" />
        </div>
    </section>

    <div>
        <ul id="tableadmin" class="translations">
            <li ng-repeat="translation in translations">
                <zbr-admin-translation translation="translation"></zbr-admin-translation>
            </li>
        </ul>
    </div>
    <section id="adminsubmit">
        <div class="float-box float-box-right">
            <button ng-click="removeSelected()"  class="button button-gray">Weiger vertaling(en)</button>
            <button ng-click="acceptKeep()"  class="button button-green">Accepteer & bewaar overige</button>
            <button ng-click="acceptRemove()"  class="button button-green">Accepteer & verwijder overige</button>
        </div>
    </section>
</form>