<div ng-controller="TranslationCtrl">
    <section id="change-set" class="summary" ng-controller="ChangeSetSummaryCtrl" ng-show="changes">
        <h3>U heeft <span class="changes" ng-bind="totalChanges"></span> wijzigingen in afwachting</h3>
        <a ng-controller="ChangeSetCtrl" ng-click="cancel()" class="button button-gray">Annuleren</a>
        <a href="#/changeset" class="button button-green">Publiceren</a>
    </section>

    <section id="filters">
        <ul class="stats">
            <li class="needs-translation">
                <a ng-bind="filters.needsTranslation" ng-click="currentFilter='needsTranslation'"></a>
                <span class="label">Onvertaald</span>
            </li>
            <li class="needs-review">
                <a ng-bind="filters.needsReview" ng-click="currentFilter='needsReview'"></a>
                <span class="label">In afwachting</span>
            </li>
            <li class="reviewed">
                <a ng-bind="filters.reviewed" ng-click="currentFilter='reviewed'"></a>
                <span class="label">Beoordeeld</span>
            </li>
            <li class="all">
                <a ng-bind="filters.total" ng-click="currentFilter='all'"></a>
                <span class="label">Totaal</span>
            </li>
        </ul>
    </section>
    
    
    <ul id="table" class="translations">
        <li ng-repeat="translation in translations" ng-click="checkUser()">
            <zbr-translation translation="translation"></zbr-translation>
        </li>
    </ul>

    <div class="pagination">
        <a class="page" ng-repeat="page in pages" ng-bind="page" ng-class="{selected : page == currentPage}" ng-click="gotoPage(page)" ></a>
    </div>
</div>