<div id="main" ng-view></div>

@section scripts
{
    <script>
        (function() {
            'use strict';

            angular.module('TranslateApp')
                .service('UserConfig', function() {
                return {
                    authenticated: @(ViewBag.IsAuthenticated.ToString().ToLower()),
                    user: {
                        username: '@ViewBag.Username'
                    }
                };
            });
        })();
    </script>

    
}
