
           
@{
    ViewBag.Title = "Index";
}

@section Scripts {

}

<h2>Welkom op Translate.ziber.nl</h2>


@Html.ActionLink("Logout", "Logout", "Security")

@{Html.RenderAction("Index", "TranslateSet");}
