@using System.Web.Optimization
@model ZiberTranslate.Web.ViewModels.TranslationsViewModel
           

<div id="main" ng-app="TranslateApp" ng-view></div>

@section scripts
{
    @Scripts.Render("~/bundles/app.js")
}
