
           
@{
    ViewBag.Title = "Index";
}

@section Scripts {

}

<h1>Welkom op Translate.ziber.nl</h1>

@Html.ActionLink("Login", "Login", "Security")
@Html.ActionLink("Logout", "Logout", "Security")

@{Html.RenderAction("Index", "TranslateSet");}
