@model ZiberTranslate.Web.Models.Translator
           
@{
    ViewBag.Title = "Home";
}

@section Scripts {
<script src="@Url.Content("~/Scripts/search-watermark.js")"></script>
}

<h1>Welkom op Translate.ziber.nl</h1>

@Html.ActionLink("Login", "Login", new { controller = "Security", returnUrl = this.Context.Request.Url.PathAndQuery })
|
@Html.ActionLink("Logout", "Logout", "Security")
|
@*@{
    var user = Model.Rank;
    if(user==0)
    {
        @Html.ActionLink("Review user changes", "Index", "Admin")
    }   
}
    *@
<div class="search">
@using (Html.BeginForm())
{
    <p class="search">
        <input type="text" id="UserSearch"  /><br />
        <input type="submit" value="Search" />
    </p>
}
</div>

@{Html.RenderAction("Index", "TranslateSet");}
