@{
    ViewBag.Title = "PickLanguage";
}

<h2>PickLanguage</h2>

@Html.ActionLink("Dutch", "DefaultLanguage", new { controller = "Home", language = "nl" })
<p>|</p>
@Html.ActionLink("English", "DefaultLanguage", new { controller = "Home", language = "en" })
<p>|</p>
@Html.ActionLink("German", "DefaultLanguage", new { controller = "Home", language = "de" })