@model ZiberTranslate.Web.ViewModels.TranslationsViewModel

<h3>
    <a href="/">Home</a>
    &gt;
    <a href="/TranslateSet?language=@Model.Culture.Name">Categorieen</a>
    &gt;
    <a>@Model.Name</a> 
    &gt;
    <a>@Model.Culture</a>
</h3>