@model ZiberTranslate.Web.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "AdminReview";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/translations.js")"></script>
}

<h2>Review Page</h2>

<table id="table" class="translations">
    @foreach (var t in Model.Content)
    {
        Html.RenderPartial("AdminTranslationRow", t);
    }
</table>
