@model ZiberTranslate.Web.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "AdminReview";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/translations.js")"></script>
}

<h2>Review Page</h2>

@using (Html.BeginForm("Submit", "Admin", FormMethod.Post))
{
    <input type="hidden" name="language" value="@this.Request.QueryString["language"]"/>
    <input type="hidden" name="setId" value="@this.Request.QueryString["setId"]"/>
    <table id="table" class="translations">
        @foreach (var t in Model.Content)
        {
            Html.RenderPartial("AdminTranslationRow", t);
        }
    </table>
    <input type="submit"/>    
}
